.pageWrapper{
    background-color: #aca66c;
}

#footer {
    text-align: center;
}

.navbar-default .navbar-brand {
    margin-right: 12px;
    font-family: "Black Ops One", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    transform: rotate(-7deg);
    color: #fff;
}

#navbar {
    background-color: #384323;
    box-shadow: 0 7px 1.5rem rgba(0,0,0,0.3);

}

.navbar{
    border: none;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1em;
    color:#fff;
    transition: 0.2s ease;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: white;
    color: #666;
}

.navbar-default .navbar-nav>.active>a{
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    color:white;
}

.navbar-brand{
    text-shadow: 2px 4px 1px rgba(255, 255, 255, 0.2);
}

.navbar-nav>li>a{
    text-shadow: 1px 3px 3px rgba(255,255,255,0.1);
}

.jumbotron{
    margin-top: 80px;
    background-color: #c8c49d;
    background-image: url(../img/soldier.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
}

.jumbotron h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: .1em;
}

@media (max-width: 995px) {
    .jumbotron{
        background-size: cover;
    }
}
main {
    margin-top: 200px;
}

a:link {
  color: #62753e;
}

a:visited {
  color: #666;
}

a:hover {
  color: #62753e;
}

a:active {
  color: #bbb;
}

footer{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    background-color: #384323;
    padding: 15px 0;
    color: white;
}
