
/*camouflage background for body*/
body{
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3), transparent 10%),-webkit-linear-gradient(right, rgba(0, 0, 0, 0.3), transparent 10%),url("../img/camouflage.jpeg") center/cover no-repeat fixed;
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3), transparent 10%),-o-linear-gradient(right, rgba(0, 0, 0, 0.3), transparent 10%),url("../img/camouflage.jpeg") center/cover no-repeat fixed;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent 10%),linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent 10%),url("../img/camouflage.jpeg") center/cover no-repeat fixed;
}


main{
    margin-top: 51px;
}

/* Styling the navigation bar*/
.navbar-default{
    background-image: linear-gradient(to right, #283227, #525c44 50%,#283227);
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    border-bottom: 1px solid #283227;
}

/*MEAL TEAM brand at the top left*/
.navbar-brand {
    padding: 0px;
    margin: 0 20px 0 12px;
    font-family: "Black Ops One", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    transform: rotate(-3deg);
    color: #fff !important; /*override default color*/
    transition: 0.2s ease;
    text-shadow: 2px 4px 3px rgba(255, 255, 255, 0.4);
}
.brandlogo{
    vertical-align: middle;
    display: inline-block;
    background: url("../img/logo.svg") center/contain no-repeat;
    background-origin: content-box;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-right: -10px;
}
.navbar-brand:hover{
    transform: scale(1.2);
}

/*Navbar items*/
.navbar-default .navbar-nav>li>a {
    text-align: center;
    font-family: 'Play', sans-serif;
    letter-spacing: .1em;
    color:#fff;
    transition: 0.2s ease;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover{
    background-color: white;
    color: #666;
    letter-spacing: .2em;
}

/*Active item on navbar*/
.navbar-default .navbar-nav>.active>a{
    background-image: none !important;
    background-color: transparent;
    box-shadow: none;
    color:#fff;
}

/*Image slider*/
.carousel{
    text-align: center;
}
.carousel-inner .item img{
    max-width: 100%;
}


.jumbotron{
    font-family: "Saira Semi Condensed",sans-serif;
    margin-top: 30px;
    background-color: #e4e2b4;
    background-image: url(../img/soldier.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

h1 small{
    color: #283227;
}
.jumbotron h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: .1em;
    color: white;
}

@media (max-width: 995px) {
    .jumbotron{
        background-size: cover;
    }
}

#icon{
    vertical-align: bottom;
    border: 4px white solid;
    border-radius: 30px;
    margin-right: 10px;
}

@media (max-width: 992px) {
    .navbar-default .navbar-nav>li>a{
        width: 100%;
    }
    #icon{
        width: 80px;
    }
}

a:link {
  color: #62753e;
}

a:visited {
  color: #666;
}

a:hover {
  color: #62753e;
}

a:active {
  color: #bbb;
}

.btn-primary{
    background-image: linear-gradient(to bottom,#525c44 0,#283227 100%);
}

footer{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #283227, #525c44 50%,#283227);
    padding: 15px 0;
    color: white;
}




.logo-icon{
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    border: 2px solid white;
    border-radius: 75px;

}
