/*Itt kezdődjék Hübner Krisztián kódja!
 *Ha jobban megnézed a kód strukturált, kezdve az általános dolgokkal majd az oldalon fentről lefelé haladva
 *Színek
 *Sötét zöld: #283227; (szöveg szín)
 *Hangyfasznyit világosabb: #525c44;
 *Világos sárgás hányásszín: #e4e2b4 ( sötét szöveg háttérszíne)
 */


/*Default fonts, etc...*/
* {
    font-family: 'Play',sans-serif;
    color: #283227;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton',sans-serif;
}

/*Camouflage background for body*/
body {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3), transparent 10%),-webkit-linear-gradient(right, rgba(0, 0, 0, 0.3), transparent 10%),url("../img/camouflage.jpeg") center/cover no-repeat fixed;
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3), transparent 10%),-o-linear-gradient(right, rgba(0, 0, 0, 0.3), transparent 10%),url("../img/camouflage.jpeg") center/cover no-repeat fixed;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent 10%),linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent 10%),url("../img/camouflage.jpeg") center/cover no-repeat fixed;
}

/*Navbar is 50px + a bit space*/
main {
    margin-top: 60px;
}



/* Styling the navigation bar*/
.navbar-default {
    background-image: -webkit-linear-gradient(left, #283227, #525c44 50%, #283227);
    background-image: -o-linear-gradient(left, #283227, #525c44 50%, #283227);
    background-image: linear-gradient(to right, #283227, #525c44 50%, #283227);
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    border-bottom: 1px solid #283227;
}

/*MEAL TEAM brand at the top left*/
.navbar-brand {
    padding: 0px;
    margin: 0 20px 0 12px;
    font-family: "Black Ops One", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    transform: rotate(-3deg);
    color: #fff !important; /*override default color*/
    transition: 0.2s ease;
    text-shadow: 2px 4px 3px rgba(255, 255, 255, 0.4);
}

.brandlogo {
    vertical-align: middle;
    display: inline-block;
    background: url("../img/logo.svg") center/contain no-repeat;
    background-origin: content-box;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-right: -10px;
}

.navbar-brand:hover {
    transform: scale(1.2);
}

/*Navbar items*/
.navbar-default .navbar-nav>li>a {
    text-align: center;
    letter-spacing: .1em;
    color:#fff;
    transition: 0.2s ease;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
    border-radius: 0px 0px 7px 7px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
    color: #666;
    transform: scale(1.05);
    /*letter-spacing: .2em;*/
}

/*Active item on navbar*/
.navbar-default .navbar-nav>.active>a {
    background-image: none !important;
    background-color: transparent;
    box-shadow: none;
    color:#fff;
}

/*Main wrapper*/
.wrapper {
    box-shadow: 0px 0px 35px rgba(0,0,0,0.4);
    border: #283227 1px solid;
    border-radius: 10px;
    overflow: hidden;
}

/*Header element*/
#header {
    font-size: 4em;
    line-height: 1.5;
    /*font-size: 63px;*/
    background-color:rgba(228, 226, 180, 1.0);
    font-family: 'Anton', sans-serif;
    letter-spacing: .1em;
    padding: 60px 60px;
    margin: 0;
    background-image: url(../img/soldier-army.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.logo-icon {
    display: inline-block;
    background: #283227 url("../img/logo.svg") center/contain no-repeat;
    background-origin: content-box;
    padding: 7px;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);

}

#header small {
    letter-spacing: .05em;
    color: #525c44;
    font-family: 'Anton',sans-serif;
}

/*Image slider*/
.carousel {
    text-align: center;
    border-top: #283227 1px solid;
    border-bottom: #283227 1px solid;
}
.carousel-inner .item img {
    max-width: 100%;
}

/*Welcome text*/
#text {
    position: relative;
    background-color:rgba(228, 226, 180, 1.0);
    font-size: 21px;
    /*background-color: #283227;*/
    /*color: rgba(228, 226, 180,1.0);*/
    padding: 30px 60px;
    margin: 0;
}

#text p {
    text-indent: 20px;
}

.tip {
    font-size: 16px;
    color: #e4e2b4 !important;
    position: absolute;
    top: 2%;
    right: 2%;
    text-align: center;
    padding: 30px;
    transform: rotate( -20deg);
    background-image: url(../img/tip.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#text h2{
    font-family: 'Anton',sans-serif;
    margin-bottom: 30px;
}

.jumbotron {
    margin-top: 30px;
    position: relative;
    background-color:#283227;

    box-shadow: 0px 0px 35px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 35px rgba(0,0,0,0.4);
}


.jumbotron h1 {
    background-color:rgba(228, 226, 180,1.0);
    font-family: 'Anton', sans-serif;
    letter-spacing: .2em;
}

.jumbotron h1 small {
    letter-spacing: .05em;
    color: #525c44;
    font-family: 'Anton',sans-serif;
}

.btn-primary {
    background-image: linear-gradient(to bottom,#525c44 0,#283227 100%);
    background-color: #525c44;
    border-color: #283227;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-image: linear-gradient(to top,#525c44 0,#283227 100%);
    background-position: center;
    border-color: #283227;
    background-color: transparent;
}

footer {
    text-align: center;
    background-image: -webkit-linear-gradient(left, #283227, #525c44 50%, #283227);
    background-image: -o-linear-gradient(left, #283227, #525c44 50%, #283227);
    background-image: linear-gradient(to right, #283227, #525c44 50%, #283227);
    padding: 15px 0;
    color: white;
}

/*Mobilméret*/
@media (max-width: 768px) {
    main {
        margin-top: 50px;
    }

    main .container {
        padding: 0px;
        width: 100%;
    }

    .wrapper {
        border-radius: 0px;
    }

    #header {
        padding: 30px 15px;
        line-height: 1.1;
    }
}

/*Itt kezdődjék László Bence kódja!*/
a:link {
  color: #62753e;
}

a:visited {
  color: #666;
}

a:hover {
  color: #62753e;
}

a:active {
  color: #bbb;
}

main .container-fluid, main .container {
    /*background-color: #e4e2b4;*/
    /*box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);*/
    /*border-radius: .5rem;*/
}

#btn-up {
    border-radius: .5rem;
}

.text {
    font-size: 2rem;
    //text-align: center;
    padding: 40px 60px;
    margin: 0;
    text-indent: 1.5em;
}
