

header {
    background-color: $green-dark;

    position: relative;
    z-index: 150;
    text-align: center;
    h1 {
        // font-family: "Black Ops One";
        text-transform: uppercase;
        padding: 30px 0;
        font-size: 5em;
        letter-spacing: .2em;
        color:#fff;
        margin: 0;
    }

    .logo {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        background-image: url(../img/logo.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        border-radius: 5px;
        margin: 0 5px;

    }

    .right {
        margin-left: -5px;
        transform: scaleX(-1);
    }

}

.introWrapper {
    background-color: $green-dark;
    color: $desert-yellow;
}

.introText {
    display: block;
    box-sizing: border-box;
    text-indent: 10px;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 3vw;

    &::first-letter{
        font-size: 1.3em;
    }
}

.introImg {
    border-radius: 10px;
}

@media (min-width: 768px) {
    .row.vertical-align {
        display: flex;
        align-items: center;
    }
}

.navbar-brand {
    font-family: "Black Ops One", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    transform: rotate(-6deg);
    transition: 0.2s ease;
    text-shadow: 2px 4px 3px rgba(255, 255, 255, 0.4);
}

.navbar-brand:hover {
    transform: scale(1.2);
}

footer {
    background-image: -webkit-linear-gradient(left, $green-dark, $green-darker 50%, $green-dark);
    background-image: -o-linear-gradient(left, $green-dark, $green-darker 50%, $green-dark);
    background-image: linear-gradient(to right, $green-dark, $green-darker 50%, $green-dark);
    padding: 15px 0;
    color: #ffffff;
}
