@import "customVariables";
/*Hübner Krisztián

/*Camouflage background for body*/
body {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3), transparent 10%),-webkit-linear-gradient(right, rgba(0, 0, 0, 0.3), transparent 10%),url("../img/camouflage.jpeg") center/cover no-repeat fixed;
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3), transparent 10%),-o-linear-gradient(right, rgba(0, 0, 0, 0.3), transparent 10%),url("../img/camouflage.jpeg") center/cover no-repeat fixed;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent 10%),linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent 10%),url("../img/camouflage.jpeg") center/cover no-repeat fixed;
}

/* Styling the navigation bar*/
.navbar-default {
    background-image: -webkit-linear-gradient(left, $green-darker, $green-dark 50%, $green-darker);
    background-image: -o-linear-gradient(left, $green-darker, $green-dark 50%, $green-darker);
    background-image: linear-gradient(to right, $green-darker, $green-dark 50%, $green-darker);
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    border-bottom: 1px solid $green-darker;
}

/*MEAL TEAM brand at the top left*/
.navbar-brand {
    padding: 0px;
    margin: 0 20px 0 12px;
    font-family: "Black Ops One", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    transform: rotate(-3deg);
    color: #fff !important; /*override default color*/
    transition: 0.2s ease;
    text-shadow: 2px 4px 3px rgba(255, 255, 255, 0.4);
}

.brandlogo {
    vertical-align: middle;
    display: inline-block;
    background: url("../img/logo.svg") center/contain no-repeat;
    background-origin: content-box;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-right: -10px;
}

.navbar-brand:hover {
    transform: scale(1.2);
}

/*Navbar items*/
.navbar-default .navbar-nav>li>a {
    letter-spacing: .1em;
    color:#fff;
    transition: 0.2s ease;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
    border-radius: 0px 0px 7px 7px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
    color: #666;
    transform: scale(1.05);
    /*letter-spacing: .2em;*/
}

/*Active item on navbar*/
.navbar-default .navbar-nav>.active>a {
    background-image: none !important;
    background-color: transparent;
    box-shadow: none;
    color:#fff;
}

/*Main wrapper*/
#contentWrapper {
    margin: 70px auto 20px auto;
    box-shadow: 0px 0px 35px rgba(0,0,0,0.4);
    border: $green-darker 1px solid;
    border-radius: 10px;
    overflow: hidden;
}

/*Header element*/
#header {
    background-color:rgba(228, 226, 180, 1.0);
    padding: 40px 60px;
    background-image: url(../img/soldier-army.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#header h1{
    font-size: 4.5em;
    line-height: 1.5;
    letter-spacing: .1em;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.logo-icon {
    display: inline-block;
    background: $green-darker url("../img/logo.svg") center/contain no-repeat;
    background-origin: content-box;
    padding: 7px;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);

}

#header small {
    letter-spacing: .05em;
    color: $green-dark;
    font-family: 'Anton',sans-serif;
}

/*Image slider*/
#imageSlider {
    padding: 0px;
    border-top: $green-darker 1px solid;
    border-bottom: $green-darker 1px solid;
}

#imageSlider .item img {
    max-width: 100%;
}

.jumbotron {
    margin-top: 30px;
    position: relative;
    background-color:$green-darker;
    box-shadow: 0px 0px 35px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 35px rgba(0,0,0,0.4);
}


.jumbotron h1 {
    background-color:rgba(228, 226, 180,1.0);
    font-family: 'Anton', sans-serif;
    letter-spacing: .2em;
}

.jumbotron h1 small {
    letter-spacing: .05em;
    color: $green-dark;
    font-family: 'Anton',sans-serif;
}

.btn-primary {
    background-image: linear-gradient(to bottom,$green-dark 0,$green-darker 100%);
    background-color: $green-dark;
    border-color: $green-darker;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-image: linear-gradient(to top,$green-dark 0,$green-darker 100%);
    background-position: center;
    border-color: $green-darker;
    background-color: transparent;
}

#rules, #contact{
    background-color: rgba(228, 226, 180, 1.0);
}

footer {
    background-image: -webkit-linear-gradient(left, $green-darker, $green-dark 50%, $green-darker);
    background-image: -o-linear-gradient(left, $green-darker, $green-dark 50%, $green-darker);
    background-image: linear-gradient(to right, $green-darker, $green-dark 50%, $green-darker);
    padding: 15px 0;
    color: white;
}

/*Mobilméret*/
@media (max-width: 768px) {
    #header {
        padding: 20px 10px;
        /*line-height: 1.1;*/
    }
}

@media (max-width: 992px) {
    main {
        margin-top: 50px;
    }

    main .container {
        padding: 0px;
        width: 100%;
    }

    .wrapper {
        border-radius: 0px;
    }
}

/*Itt kezdődjék László Bence kódja!*/
a:link {
  color: $green-dark;
}

a:visited {
  color: white;
}

a:hover {
  color: $green-dark;
}

a:active {
  color: white;
}
